/* .card{
  position: relative;
  background-color: rgb(2 6 23);
  width: 12rem;
  height: 24rem;
  overflow: hidden;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

} */

/* .card::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  height: 12rem;
  background-color: #e62429;
  transition: all .2s linear;

} */

/* .card:hover::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  height: 24rem;
  background-color: #e62429;
} */

/* .card::after{
  content: '';
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  top:auto;
  border-color: transparent rgb(30 41 59 / 1) transparent transparent ;
  border-width: 12px 12px 0 0;
  border-style: solid;
} */

/* .header{
  position: relative;
  width: 12rem;
  height: 11.5rem;
  overflow: hidden;
} */

/* .image{
  width: 12rem;
  height: 11.5rem;
  object-fit: cover;
  transition: transform .2s ease-in-out;
}

.image:hover{
  transform: scale(1.2);
} */

/* .footer{
  position: relative;
  width: 12rem;
  height: 11rem;
  padding: 1rem;
  color: rgb(226 232 240);
} */
